<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO page</title>
</head>
<body>
    <div align=center>
        <b>Показать все сведения о поставщиках, заключивших договора за последние несколько дней</b>
        <p></p>
        <form action = "#" method = "POST">
            <p><input type = "text" placeholder = "количество дней" name = "days" /></p>
            <p><input type = "submit" value = "получить" /></p>
        </form>
        <p></p>
        <a href = "/zaprosy/info"> Вернуться в меню запросов </a>
    </div>
</body>
</html>