<!DOCTYPE html>
<html lang="en">
<head>
    <meta ch="UTF-8">
    <title>Выбор информации</title>
</head>
<body>
    <div align=center>
        <b>Меню запросов</b>
        <p></p>

                <a href = "/zaprosy/info/ym_info"> Показать все сведения о поставщиках, заключивших договора  в определенный месяц и год </a>
                <p></p>

                <a href= "/zaprosy/info/days_info"> Показать все сведения о поставщиках, заключивших договора  за последние несколько дней</a>
                <p></p>

            <a href="/menu"> Вернуться в главное меню</a>
    </div>
</body>
</html>