<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO page</title>
</head>
<body>
    <div align=center>
        <b>Показать все сведения о поставщиках, заключивших договора в определенный месяц и год</b>
        <p></p>
        <form action = "#" method = "POST">
            <p>Месяц:</p>
            <p><input type = "text" placeholder="номер месяца" name = "month" /></p>
            <p>Год:</p>
            <p><input type = "text" placeholder="номер года" name = "year" /></p>
            <p><input type = "submit" value = "получить" /></p>
        </form>
        <p></p>
        <a href = "/zaprosy/info"> Вернуться в меню запросов </a>
    </div>
</body>
</html>