<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter page</title>
</head>
<body>
    <div align=center>
        <b>Войти в систему</b>
        <p></p>
        <form action = "#" method = "POST">
            <p>Логин:</p>
            <p><input type = "text" name = "login" placeholder="Логин" /></p>
            <p>Пароль:</p>
            <p><input type = "password" name = "pass" placeholder="Пароль"/></p>
            <p> <font color = "#ff0000"> {{title}} </font> </p>
            <p><input type = "submit" value = "войти" /></p>
        </form>
        <p></p>
        <a href = "/"> Вернуться на главную страницу </a>
    </div>
</body>
</html>